.tag_bg .list{
    color: #ff8563;
}

a.tag_bg{
    color: #ff8563;
}

.tag_bg .list:after{
    /* content: '';
    border-right: 5px  solid transparent;
    border-left: 5px solid transparent ; */
    border-top: 5px solid #ff8563;
    /* position: absolute;
    top: 15px;
    left: 70px; */
    
}

.banner{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

h2{
    text-align: center;
    color: #1b1464;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
    margin-top: 100px;
    
}

hr{
    border: none;
    width: 80%;
    margin-bottom: 40px;
    margin-left: 10%;
    height: 1px;
    background: #7a74b9;
    animation: width .5s linear;
    
    
  }

  @keyframes width {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }

.shop{
    width: 100%;
    margin: auto;
    position: relative;
    
}

h3{
    writing-mode: vertical-lr;
    color: #fff;
    background-color: #1b1464;
    padding: 10px;
    box-shadow: 1px 2px 3px #aaa;
    position: absolute;
    left: 60%;
    top: 50px;
    z-index: 3;

}

h4{
    writing-mode: vertical-lr;
    position: absolute;
    top: 240px;
    left: 18%;
}



.secret_shop{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: rgb(250, 250, 241); 
}

.row{
   
    margin: auto;
    position: relative;
    padding-bottom: 100px;
    
}

.hexagon {
    width: 100px;
    height: 174px;
    position: relative;
    margin: 100px auto;
    box-shadow: 4px 5px 6px #aaa;

}

.hexagon:hover{
    transform: scale(1.02,1.02);
}



@keyframes width{
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

.hexagon__item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    
}

.hexagon__item_left {
    transform: rotate(-60deg);
}

.hexagon__item_right {
    transform: rotate(60deg);
}

.hexagon__item:before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 200px;
    visibility: visible;
    background-size: cover;
    transform-origin: 0 0;
    background-size: cover;
    transform-origin: 0 0;
   
}

.hexagon__item_left:before {
    transform: rotate(60deg) translateY(-50%);
}

.hexagon__item_right:before {
    transform: rotate(-60deg) translateX(-75%);
}

.hexagon__item_center:before {
    transform: translateX(-25%);
}

.shop_scallion_pie:before{
    background-image: url(../pic/secret-menu/secret1.jpg);
    
}

.shop_oyster_noodle:before{
    background-image: url(../pic/secret-menu/secret2.jpg);
}

.shop_rice_noodle_soup:before{
    background-image: url(../pic/secret-menu/secret3.jpg);
}

.shop_meat_pie:before{
    background-image: url(../pic/secret-menu/secret4.jpg);
}

.shop_oden:before{
    background-image: url(../pic/secret-menu/secret5.jpg);
}

.shop_duck_with_noodles:before{
    background-image: url(../pic/secret-menu/secret6.jpg);
}

.shop_popiah:before{
    background-image:url(../pic/secret-menu/secret7.jpg) ;
}

.shop_zishin_oden:before{
    background-image: url(../pic/secret-menu/secret8.jpg);
}

.hexagon:nth-child(4){
    margin: 0;

}



.shop:nth-child(4){
    /* padding-left: 17%; */
}

.shop:nth-child(4) h3{
 
   
}

.shop:nth-child(4) h4{
    
    
   
}

.shop:nth-child(5){
    /* padding-right: 17%; */
}

.target{
      width: 20px;
  }

  @media screen and (min-width:768px){
    
    h2{
        text-align: center;
        color: #1b1464;
        font-weight: bold;
        margin-bottom: 30px;
        display: block;
        margin-top: 100px;
        
    }
    
    hr{
        border: none;
        width: 80%;
        margin-bottom: 40px;
        margin-left: 10%;
        height: 1px;
        background: #7a74b9;
        animation: width .5s linear;
        
        
      }
    
      @keyframes width {
        from {
          width: 0%;
        }
        to {
          width: 80%;
        }
      }
    
    h3{
        writing-mode: vertical-lr;
        color: #fff;
        background-color: #1b1464;
        padding: 10px;
        box-shadow: 1px 2px 3px #aaa;
        position: absolute;
        left: 70%;
        top: 50px;
        z-index: 3;
    
    }
    
    h4{
        writing-mode: vertical-lr;
        position: absolute;
        top: 240px;
        left: 10%;
    }
    
    
    
    .secret_shop{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        background-color: rgb(250, 250, 241); 
    }
    
    .row{
        width: 100%;
        margin: auto;
        position: relative;
        padding-bottom: 100px;
        
    }
    
    .hexagon {
        width: 100px;
        height: 174px;
        position: relative;
        margin: 100px auto;
        box-shadow: 4px 5px 6px #aaa;
    
    }
    
    
    @keyframes width{
      from {
        width: 0%;
      }
      to {
        width: 80%;
      }
    }
    
    .hexagon__item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        
    }
    
    .hexagon__item_left {
        transform: rotate(-60deg);
    }
    
    .hexagon__item_right {
        transform: rotate(60deg);
    }
    
    .hexagon__item:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 100%;
        width: 200px;
        visibility: visible;
        background-size: cover;
        transform-origin: 0 0;
        background-size: cover;
        transform-origin: 0 0;
       
    }
    
    .hexagon__item_left:before {
        transform: rotate(60deg) translateY(-50%);
    }
    
    .hexagon__item_right:before {
        transform: rotate(-60deg) translateX(-75%);
    }
    
    .hexagon__item_center:before {
        transform: translateX(-25%);
    }
    
    .shop_scallion_pie:before{
        background-image: url(../pic/secret-menu/secret1.jpg);
        
    }
    
    .shop_oyster_noodle:before{
        background-image: url(../pic/secret-menu/secret2.jpg);
    }
    
    .shop_rice_noodle_soup:before{
        background-image: url(../pic/secret-menu/secret3.jpg);
    }
    
    .shop_meat_pie:before{
        background-image: url(../pic/secret-menu/secret4.jpg);
    }
    
    .shop_oden:before{
        background-image: url(../pic/secret-menu/secret5.jpg);
    }
    
    .shop_duck_with_noodles:before{
        background-image: url(../pic/secret-menu/secret6.jpg);
    }
    
    .shop_popiah:before{
        background-image:url(../pic/secret-menu/secret7.jpg) ;
    }
    
    .shop_zishin_oden:before{
        background-image: url(../pic/secret-menu/secret8.jpg);
    }
    
    .hexagon:nth-child(4){
        margin: 0;
    
    }
    
    .shop{
        position: relative;
        
    }
    
    .shop:nth-child(4){
        padding-left: 14%;
    }
    
    .shop:nth-child(4) h3{
        left: 75%;
    }
    
    .shop:nth-child(4) h4{
        left: 35%;
    }

    .shop:nth-child(5) h3{
       left: 50%;
    }
    
    .shop:nth-child(5){
        padding-right: 14%;
    }
    
    .target{
          width: 20px;
      }
  }

  @media screen and(min-width:1200px) {
    
    h2{
        text-align: center;
        color: #1b1464;
        font-weight: bold;
        margin-bottom: 30px;
        display: block;
        margin-top: 100px;
        
    }
    
    hr{
        border: none;
        width: 80%;
        margin-bottom: 40px;
        margin-left: 10%;
        height: 1px;
        background: #7a74b9;
        animation: width .5s linear;
        
        
      }
    
      @keyframes width {
        from {
          width: 0%;
        }
        to {
          width: 80%;
        }
      }
    
    h3{
        writing-mode: vertical-lr;
        color: #fff;
        background-color: #1b1464;
        padding: 10px;
        box-shadow: 1px 2px 3px #aaa;
        position: absolute;
        left: 250px;
        top: 50px;
        z-index: 3;
    
    }
    
    h4{
        writing-mode: vertical-lr;
        position: absolute;
        top: 240px;
        left: 80px;
    }
    
    
    
    .secret_shop{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        background-color: rgb(250, 250, 241); 
    }
    
    .row{
        
        margin: auto;
        position: relative;
        padding-bottom: 100px;
        
    }
    
    .hexagon {
        width: 100px;
        height: 174px;
        position: relative;
        margin: 100px auto;
        box-shadow: 4px 5px 6px #aaa;
    
    }
    
    .hexagon:hover{
        transform: scale(1.02,1.02);
    }
    
    
    
    @keyframes width{
      from {
        width: 0%;
      }
      to {
        width: 80%;
      }
    }
    
    .hexagon__item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        
    }
    
    .hexagon__item_left {
        transform: rotate(-60deg);
    }
    
    .hexagon__item_right {
        transform: rotate(60deg);
    }
    
    .hexagon__item:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 100%;
        width: 200px;
        visibility: visible;
        background-size: cover;
        transform-origin: 0 0;
        background-size: cover;
        transform-origin: 0 0;
       
    }
    
    .hexagon__item_left:before {
        transform: rotate(60deg) translateY(-50%);
    }
    
    .hexagon__item_right:before {
        transform: rotate(-60deg) translateX(-75%);
    }
    
    .hexagon__item_center:before {
        transform: translateX(-25%);
    }
    
    .shop_scallion_pie:before{
        background-image: url(../pic/secret-menu/secret1.jpg);
        
    }
    
    .shop_oyster_noodle:before{
        background-image: url(../pic/secret-menu/secret2.jpg);
    }
    
    .shop_rice_noodle_soup:before{
        background-image: url(../pic/secret-menu/secret3.jpg);
    }
    
    .shop_meat_pie:before{
        background-image: url(../pic/secret-menu/secret4.jpg);
    }
    
    .shop_oden:before{
        background-image: url(../pic/secret-menu/secret5.jpg);
    }
    
    .shop_duck_with_noodles:before{
        background-image: url(../pic/secret-menu/secret6.jpg);
    }
    
    .shop_popiah:before{
        background-image:url(../pic/secret-menu/secret7.jpg) ;
    }
    
    .shop_zishin_oden:before{
        background-image: url(../pic/secret-menu/secret8.jpg);
    }
    
    .hexagon:nth-child(4){
        margin: 0;
    
    }
    
    .shop{
        position: relative;
        
    }
    
    .shop:nth-child(4){
        padding-left: 17%;
    }
    
    .shop:nth-child(4) h3{
        left: 440px;
    }
    
    .shop:nth-child(4) h4{
        left: 270px;
    }
    
    .shop:nth-child(5){
        padding-right: 17%;
    }
    
    .target{
          width: 20px;
      }
  }