.tag_bg .list{
    color: #ff8563;

}

a.tag_bg{
    color: #ff8563;

}

.tag_bg .list:after{
    border-top: 5px solid #ff8563;
    
}



h2{
    color: #1b1464;
    font-weight: bold;
    margin: 20px auto 30px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
        
}

h2:before, h2:after{
    content: "";
    flex:1 1;
    border-bottom: 1px dashed #1b1464;
    margin: auto;
    
}

h3{
    color: #1b1464;
    line-height: 30px;
    padding-top: 20px;

}

a{
    text-decoration: none;

}



.shoplist{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: rgb(250, 250, 241); 
    
 }

 .place{
    width: 50%;
    line-height: 20px;
    margin: 0px auto 30px auto;

}
 
 .shoplist .shop{
    margin: 10px auto;
        
}
 
.business{
    text-align: center;
    margin: auto;
    background-color: #fff;
    box-shadow: 1px 2px 3px #aaa;
    border-radius: 5px;
}

.shoplist .shop .food_pic{
    width:95%;
    padding-bottom: 5px;
   
}

.shoplist .shop .target{
    width: 14px;

}

.shoplist .shop p{
    color: #134e6c;
    line-height: 30px;
    padding: 20px;
    font-size: 14px;
     
}

@media screen and (min-width:768px){
.place{
    width: 30%;
}

}

@media screen and (min-width:1200px){
    
}