.tag_bg .list{
    color: #ff8563;

}

a.tag_bg{
    color: #ff8563;

}

.tag_bg .list:after{
    border-top: 5px solid #ff8563;
    
}

.birthday{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: rgb(250, 250, 241);

}

h2{
    background-color: #ab917f;
    color: #fff;
    padding: 10px;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #aaa;

}

h3{
    color: #1b1464;
    padding-top: 20px;
    
}

.food_txt{
    font-size: 12px;
    color: #696565;
    line-height: 20px;

}

.food_pic{
    width: 50%;

}

a{
    text-decoration: none;

}

span{
    font-weight: bold;
    color: #134e6c;

}

.banner{
    padding-bottom: 30px;

}

.banner img{
    max-width: 1200px;
    width: 100%;

}

.discount{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 100px;

}

.discount_item{
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 20px;
   
}

.discount_item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;

}

.target{
    width: 10px;

}

@media screen and (min-width:768px){
h2{
    padding: 20px;
    position: absolute;
    right: 150px;
    top: -30px;

}

h3{
    padding: 10px 10px 10px 0;
    
}

.food_txt{
    text-indent: -20px;
    line-height: 30px;

}

.discount{
    width: 768px;
    background-image: url(../pic/birthday/line.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 100px;

}

.discount_item{
    margin: 0 auto;
   
}

.food_pic{
    width: 250px;

}

.birthday1{
    width: 45%;
    margin-left: 0;

}

.birthday1 .food_txt{
    margin-left: -20px;
   
}

.birthday2{
    display: flex;
    flex-direction: row-reverse;

}

.birthday2 .food_pic{
    margin-right: 150px;
    margin-top: -20px;

}

.birthday2 .food_txt{
    margin-top: -10px;
    margin-right: 100px;

}

.birthday3 .food_pic{
    margin-top: 30px;
    margin-left: 50px;

}

.birthday3 .food_txt{
    margin-left: 100px;

}

.birthday4{
    display: flex;
    flex-direction: row-reverse;

}

.birthday4 .food_pic{
    margin-bottom: 0px;
    margin-right: 150px;
    
}

.birthday4 .food_txt{
    margin-top: 50px;
    margin-right: 80px;

}

.birthday5 .food_pic{
    margin-top: 60px;
    margin-left: 100px;

}

.birthday5 .food_txt{
    margin-top: 0px;
    margin-left: 80px;

}

.target{
    width: 16px;

}

}

@media screen and (min-width:1200px){
h2{
    padding: 20px;
    position: absolute;
    right: 350px;
    top: -30px;
    
}

.food_txt{
    font-size: 16px;

}

.discount{
    max-width: 1200px;
    width: 100%;

}

.birthday1 .food_pic{
    width: 350px;
    
}

.birthday1 .food_txt{
    margin-top: 70px;
    margin-left: -20px;
   
}

.birthday2 .food_pic{
    width: 500px;
    margin-right: 100px;
    margin-bottom: 50px;    

}

.birthday2 .food_txt{
    margin-right: 250px;

}

.birthday3 .food_pic{
    width: 400px;
    margin-top: -40px;

}

.birthday3 .food_txt{
    margin-left: 150px;

}

.birthday4 .food_pic{
    width: 400px;
    margin-top: 30px;
   
}

.birthday4 .food_txt{
    margin-top: 100px;
    margin-right: 200px;

}

.birthday5 .food_pic{
    width: 500px;
    margin-top: 120px;

}

.birthday5 .food_txt{
    margin-top: -50px;
    margin-left: 200px;
    
}

}